*.swp
.cache
node_modules
yarn-error.log

# Vim spellchecker dict binaries
*.spl

.dotfiles

# Project-centric solargraph config, since other devs may not rely on it.
.solargraph.yml
**/*/definitions.rb
