*.swp
.cache
node_modules
yarn-error.log

# Vim spellchecker dict binaries
*.spl

.idea

.dotfiles

# Project-centric solargraph config, since other devs may not rely on it.
.solargraph.yml
**/*/definitions.rb

# Project-specific repl dump
**/*/.repl

.scotty
.lnavrc
.claude/*
!.claude/settings.json
!.claude/commands
